<header class="main-header shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid p-0">
                <div class="col-md-3">
                    <a class="navbar-brand" href="#">
                        <span class="brand-text">MY<span class="gradient-text">LEARN</span></span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse col-md-3" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item dropdown hover-dropdown">
                            <a class="nav-link dropdown-toogle" href="#" data-bs-toggle="dropdown">
                                Khoá học
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Khoá học</a></li>
                                <li><a class="dropdown-item" href="#">Bán chạy</a></li>
                                <li><a class="dropdown-item" href="#">Giảm giá</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cộng đồng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tư vấn</a>
                        </li>
                    </ul>
                    <div id="search-modal" class="search-modal col-md-4">
                        <form class="search-form" id="search-form">
                            <input type="text" class="form-control" placeholder="Tìm kiếm...">
                        </form>
                    </div>
                    <div class="header-buttons col-md-2">
                        <button class="btn search-btn" id="search-btn" type="button" data-bs-toggle="modal"
                                data-bs-target="#searchModal">
                            <i class="fas fa-search"></i>
                        </button>
                        <a href="#" class="btn cart-btn">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge cart-badge">3</span>
                        </a>
                        <a href="#" class="btn user-btn">
                            <i class="fas fa-user"></i>
                        </a>

                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>