<div class="sidebar" th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
    <div class="logo">
        <img th:src="@{/images/logo.png}" alt="Logo" />
        <h4>NAME</h4>
    </div>
    <ul>
        <li class="menu-item">
               <a th:href="@{/admin}" class="menu-link" ><i class="fas fa-tachometer-alt padding "></i> Dashboard</a>
        </li>
        <li class="menu-item">
            <div class="menu-link">
                <i class="fas fa-user-graduate padding"></i> Students
                <i class="fas fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                <li><a th:href= "@{/AllStudent}">All Students</a></li>
                <li><a th:href= "@{/add-student}">Admission Form</a></li>
                <li><a href="#">Student Promotion</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <div class="menu-link">
                <i class="fas fa-chalkboard-teacher padding"></i> Teachers
                <i class="fas fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                <li><a href="#">All teacher</a></li>
                <li><a href="#">Teacher Details</a></li>
                <li><a href="#">Teacher Promotion</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <div class="menu-link">
                <i class="fas fa-book-open padding"></i> Class
                <i class="fas fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                <li><a href="#">All Class</a></li>
                <li><a href="#">Class Details</a></li>
            </ul>
        </li>
        <li class="menu-item">
            <div class="menu-link">
                <i class="fas fa-user-cog padding"></i> Account
                <i class="fas fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                <li><a href="#">Teacher Account</a></li>
                <li><a href="#">Student Account</a></li>
            </ul>
        </li>
    </ul>
</div>